.menuRoot {
    composes: mb-[10px] from global;
    composes: pl-[20px] from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-start from global;
    composes: bg-gray-cmsPageMenu from global;
    composes: whitespace-nowrap from global;
    composes: overflow-scroll from global;
    composes: ml-[50%] from global;
    composes: -translate-x-2/4 from global;

    composes: lg_my-[30px] from global;
    composes: lg_p-0 from global;
    composes: lg_justify-center from global;
    composes: lg_overflow-hidden from global;
    composes: lg_translate-x-0 from global;
    composes: lg_ml-0 from global;
    composes: gap-5 from global;
    composes: lg_gap-[51px] from global;

    @apply w-[calc(100vw-var(--scrollBarWidth))]
        lg_w-full;
}

.button {
    composes: flex from global;

    composes: text-gray-dark from global;
    composes: py-[15px] from global;
    composes: pb-1.5 from global;
    composes: mb-1.5 from global;
    composes: last_mr-[20px] from global;

    composes: lg_last_mr-0 from global;
    composes: lg_pb-2.75 from global;
    composes: lg_mb-0 from global;
}

.buttonActive {
    composes: flex from global;
    composes: py-[15px] from global;
    composes: text-black-lightest from global;
    composes: border-b-3 from global;
    composes: border-blue from global;
    composes: pb-[10px] from global;
    composes: mb-1.5 from global;

    composes: last_mr-[20px] from global;
    composes: lg_last_mr-0 from global;
    composes: lg_pb-2.5 from global;
    composes: lg_mb-0 from global;
}

.cmsPageBanner {
    @apply w-[calc(100vw-var(--scrollBarWidth))]
        -translate-x-2/4
        ml-[50%]
        lg_w-full
        lg_translate-x-0
        lg_ml-0;
}

.cmsPageBanner h2 {
    @apply lg_w-[40%]
        text-[28px]
        lg_text-[38px]
        text-white;
}

.cmsPageBanner p {
    @apply w-[70%]
        lg_w-[35%]
        text-[14px]
        text-white
        mt-[10px]
        lg_mt-[15px];
}

/* don't think there are better ways to access bg without adding class in m2 */
.cmsPageBanner > div > div {
    @apply h-[310px]
        p-[20px]
        pt-8
        lg_px-[70px]
        lg_py-[50px]
        lg_h-[410px];
}

:global(.cms-sell-to-us) .cmsPageBanner > div > div {
    @apply pt-[20px] lg_pt-[70px];
}

.cmsPageBanner :global(.storeAddress) {
    @apply bg-red-light
        flex
        rounded
        py-1
        px-[15px]
        mb-[20px]
        w-[91%]
        lg_mb-[15px]
        lg_w-[34%];
}

.cmsPageBanner :global(.storeAddress) p {
    @apply w-full
        mt-0
        text-[10px]
        lg_text-[12px];
}

.cmsPageBanner :global(.storeAddress) img {
    @apply h-[12px]
        mr-[10px]
        self-center
        lg_h-[16px];
}

.button:hover,
.buttonActive:hover {
    @apply text-black-lightest
        border-b-3
        border-blue
        pb-2.5;
}

:global(.cms-menu-page) h1 {
    @apply mb-[14px] lg_mb-[22px] mt-0;
}

:global(.cms-menu-page) :global(.membership-badges) {
    @apply flex justify-evenly p-0 py-4;
}

:global(.cms-menu-page) :global(.membership-badges) :global(.row) {
    @apply grid first_grid-cols-3 last_self-center first_gap-2.5 ;
}

:global(.cms-menu-page) :global(.membership-badges,.desktop) {
    @apply hidden;
}
