.root {
    composes: root_rectangle from '~@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';

    composes: block from global;
    composes: h-[385px] from global;
    composes: lg_h-[542px] from global;
}
