.modeSwitch {
    composes: pt-2.5 from global;
}

.vaultForm {
    composes: pt-2.5 from global;
}

.ccFields {
    composes: grid from global;
    composes: gap-2.5 from global;
    composes: py-2.5 from global;

    composes: lg_grid-flow-col from global;
}

.ccNumber {
    composes: input from '@magento/venia-ui/lib/components/Field/field.module.css';
}

.expiration {
    composes: input from '@magento/venia-ui/lib/components/Field/field.module.css';
}

.cvv {
    composes: input from '@magento/venia-ui/lib/components/Field/field.module.css';
}

.confirmCheckbox {
    composes: pt-2.5 from global;
}

.sectionContentContainer {
    composes: border-t from global;
    composes: border-solid from global;
    composes: border-gray-light from global;
    composes: py-4 from global;
    composes: px-7.5 from global;
}

.sectionTitleWrapper {
    composes: flex from global;
    composes: items-center from global;
    composes: justify-between from global;
    composes: py-4 from global;
    composes: px-7.5 from global;
}

.sectionTitle {
    composes: text-left from global;
    composes: font-semibold from global;
    composes: text-black-lightest from global;
    composes: text-sm from global;
    composes: leading-5 from global;
    composes: mr-4 from global;

    composes: lg_text-base from global;
}

.sharedInfoWrapper {
    composes: bg-white-dark from global;
    composes: rounded-sm from global;
}

.inputLabel {
    grid-area: label;

    composes: text-sm from global;
    composes: justify-self-start from global;
    composes: pl-4 from global;
    composes: cursor-pointer from global;
    composes: leading-5 from global;

    composes: lg_text-base from global;
    composes: lg_leading-5 from global;
}

@media (min-width: 1024px) {
    .ccFields {
        grid-template-columns: auto 173px 173px;
    }
}
