.root {
    composes: bg-white-dark from global;
    composes: p-6.25 from global;
    composes: lg_px-7.5 from global;
    composes: lg_py-5 from global;
}

.title {
    justify-self: center;
    font-family: var(--venia-global-fontFamily-serif);
    font-weight: var(--venia-global-fontWeight-bold);
}

.accountDetails {
    composes: block from global;
    composes: lg_flex from global;
}

.lineItemsContainer {
    composes: gap-0.5 from global;
    composes: lg_gap-1.25 from global;
    composes: grid from global;
    composes: text-black from global;
    composes: pb-3.75 from global;
    composes: lg_pb-0 from global;

    grid-template-columns: auto 1fr;
}

.lineItemLabel {
    composes: font-normal from global;
    composes: text-gray-dark from global;
}

.nameLabel,
.emailLabel,
.passwordLabel {
    composes: font-normal from global;
    composes: text-gray-dark from global;
}

.nameValue,
.emailValue,
.passwordValue {
    composes: font-semibold from global;
}

.editButtonContainer {
    composes: ml-auto from global;
    composes: self-center from global;
}

.editInformationButton {
    composes: root_normalPriority from '../Button/button.module.css';
    composes: lg_min-w-[135px] from global;
    composes: w-full from global;
}

@media (max-width: 960px) {
    .accountDetails {
        grid-template-columns: 1fr;
    }

    /* .lineItemsContainer { */

    /*    grid-gap: 0.75rem; */

    /* } */
}
