.modal {
    composes: h-screen from global;
    composes: w-screen from global;
    composes: bg-white from global;
    composes: cursor-auto from global;
    composes: overflow-auto from global;

    composes: md_h-auto from global;
    composes: md_w-auto from global;
    composes: md_max-w-[469px] from global;
}

.closeIcon {
    composes: w-full from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-end from global;
    composes: relative from global;
    composes: pt-6.25 from global;
    composes: pr-6.25 from global;
}

.closeIcon > button {
    @apply outline-none;
}
