/* stylelint-disable value-no-vendor-prefix */
.root {
    grid-template-rows: auto 1fr auto;

    composes: relative from global;
    composes: grid from global;
    composes: content-start from global;
    composes: bg-white from global;
    composes: border from global;
    composes: border-gray-light from global;
    composes: rounded-sm from global;
    composes: p-[12.5px] from global;
    composes: m-[2.5px] from global;

    /* Large screen styles */
    composes: lg_h-full from global;
    composes: lg_p-6.25 from global;

    composes: lg_m-1.25 from global;

    /* Hover state */
    composes: lg_hover_border-white from global;
    composes: lg_hover_rounded-b-none from global;

    /* Transition */
    composes: transition from global;
    composes: duration-200 from global;
    composes: ease-in-out from global;
}

@media (min-width: 1024px) {
    .root:hover {
        box-shadow: 0 0 40px rgb(17 25 39 / 10%);
    }
}

.root_disabled {
    composes: root;
    opacity: 50%;
}

.imageContainer {
    grid-area: main;
}

.imageContainer img {
    @apply my-0
        mx-auto;
}

.imageContainer img + img {
    @apply left-2/4
        -translate-x-2/4;
}

.image {
    transition: opacity 512ms ease-out;

    composes: block from global;
    composes: h-27.5 from global;
    composes: w-27.5 from global;
    composes: object-contain from global;

    /* Large screen styles */
    composes: lg_h-50 from global;
    composes: lg_w-50 from global;
}

.imageLoaded {
    composes: loaded from '~@magento/venia-ui/lib/components/Image/image.module.css';

    composes: opacity-100 from global;
}

.imageNotLoaded {
    composes: notLoaded from '~@magento/venia-ui/lib/components/Image/image.module.css';

    composes: opacity-0 from global;
}

.imagePlaceholder {
    composes: image;

    composes: bg-gray-light from global;
}

.priceWrapper {
    composes: flex from global;
    composes: justify-center from global;
    composes: items-center from global;
    composes: gap-px from global;

    /* Large screen styles */
    composes: lg_gap-1.25 from global;
}

.priceText {
    composes: font-semibold from global;
    composes: text-gray-dark from global;
    composes: text-xss from global;
    composes: pt-[2px] from global;
    composes: capitalize from global;

    /* Large screen styles */
    composes: lg_text-xs from global;
    composes: lg_pt-0 from global;
}

.price {
    composes: font-bold from global;
    composes: text-blue from global;
    composes: text-base from global;

    /* Large screen styles */
    composes: lg_text-lg from global;
}

.actionsContainer {
    composes: justify-center from global;
    composes: items-center from global;
    composes: pt-4 from global;

    /* Large screen styles */
    composes: lg_grid from global;
}

.addToCart {
    composes: root_normalPriority from '../Button/button.module.css';
    composes: w-full from global;
    composes: min-w-[auto] from global;
}

.nameWrapper {
    composes: overflow-hidden from global;
    composes: h-[min-content] from global;
    composes: mt-2.5 from global;

    /* Large screen styles */
    composes: lg_h-[64px] from global;
    composes: lg_mt-5 from global;
    composes: text-center from global;
}

.deleteItem {
    composes: mt-2 from global;
    composes: root_alertPrioritySmall from '../../overrides/Button/button.module.css';
    composes: w-full from global;
    composes: min-w-[auto] from global;
    composes: lg_min-w-[auto] from global;
}

.deleteItem polyline {
    stroke: white;
}
