.heading {
    composes: lg_text-2xl from global;
    composes: hidden from global;
    composes: lg_block from global;
    composes: lg_pb-5 from global;
}

.content {
    composes: grid from global;
    composes: gap-1.25 from global;
    composes: lg_gap-2.5 from global;
    composes: lg_grid-cols-2 from global;
}

.addButtonContainer {
    composes: flex from global;
    composes: border from global;
    composes: rounded from global;
    composes: border-gray-light from global;
    composes: xl_min-w-[430px] from global;
    composes: min-h-[299px] from global;
    composes: lg_min-h-[327px] from global;
    composes: p-6 from global;
    composes: lg_p-7.5 from global;
    composes: relative from global;
}

.addButton {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';

    composes: w-full from global;
    composes: lg_w-auto from global;
    composes: lg_max-w-full from global;

    composes: font-bold from global;
    composes: text-sm from global;
    composes: uppercase from global;
    composes: border from global;
    composes: border-solid from global;
    composes: rounded-sm from global;
    composes: px-3.5 from global;
    composes: py-2.5 from global;
    composes: lg_py-3 from global;
    composes: outline-none from global;

    composes: disabled_pointer-events-none from global;
    composes: disabled_bg-white-dark from global;
    composes: disabled_border-gray-light from global;
    composes: disabled_text-black-lightest from global;
    composes: disabled_text-opacity-40 from global;

    composes: transition from global;
    composes: duration-200 from global;
    composes: ease-in-out from global;

    composes: lg_min-w-[211px] from global;
    composes: m-auto from global;

    /* normal priority */

    composes: bg-blue from global;
    composes: border-blue from global;
    composes: text-white from global;

    composes: hover_bg-blue-dark from global;
    composes: hover_border-blue-dark from global;

    composes: active_focus_bg-black-light from global;
    composes: active_focus_border-black-light from global;
    composes: lg_text-base from global;
}
