.heading {
    composes: text-black-lightest from global;
    composes: font-semibold from global;
    composes: text-sm from global;
    composes: pb-1.5 from global;
    composes: lg_pb-2.5 from global;
}

.method:empty {
    display: none;
}
