.root {
    composes: py-3.75 from global;

    composes: lg_py-5 from global;
}

.errorText {
    composes: text-red-light from global;
    composes: leading-1 from global;
}

.lineItems {
    grid-template-columns: 1fr 2fr;
    composes: grid gap-1.25 lg_gap-3 from global;
    composes: leading-6 from global;
    composes: items-center from global;
    composes: justify-items-end from global;
}

.lineItemLabel {
    composes: justify-self-start from global;
}

.price {
    composes: justify-self-end font-semibold text-black-lightest from global;
}

.noTax {
    composes: justify-self-end text-right text-black-lightest leading-4 from global;
}

.totalLabel {
    composes: lineItemLabel;
    composes: font-normal from global;
}

.totalPrice {
    composes: price;
    composes: font-semibold from global;
    composes: text-green-dark from global;
}

.priceUpdating {
    composes: price;
    composes: opacity-0 from global;
}

.checkoutButton_container {
    composes: items-center from global;
    composes: inline-flex from global;
    composes: justify-center from global;
    composes: mt-4 from global;
    composes: min-h-22 from global;
    composes: lg_w-[370px] w-full from global;
}
.checkoutButton_container button {
    @apply w-full;
}

.sticky {
    composes: fixed from global;
    composes: bottom-0 from global;
    composes: z-50 from global;
    composes: mx-auto from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: w-11/12 from global;
}
