.root {
    composes: root from './categoryLeaf.module.css';
}

.target {
    composes: target from './categoryLeaf.module.css';
}

.text {
    composes: text from './categoryLeaf.module.css';
}

.icon {
    composes: fill-black-lightest from global;
    composes: opacity-40 from global;
}
