.checkoutContent {
    /* Only one column in mobile view. */
    grid-template-columns: 1fr;

    composes: grid from global;
    composes: gap-7.5 from global;
    composes: pt-7.5 from global;

    composes: lg_pb-12.5 from global;
}

.checkoutContent_hidden {
    composes: checkoutContent;

    composes: hidden from global;
}

.headingSection,
.shippingInformationSection,
.shippingMethodSection,
.paymentInformationSection,
.summarySection {
    grid-column: 1 / span 1;
}

.title {
    composes: relative from global;
    composes: flex from global;
    composes: justify-between from global;
    composes: items-center from global;
    composes: items-center from global;
    composes: pl-5 from global;
    composes: pb-5 from global;

    composes: lg_pb-7 from global;
}

.title::before {
    content: '';

    @apply absolute
        left-0
        w-0.5
        h-6
        bg-red-light;
}

.termsAndConditionsWrapper {
    composes: pt-5 from global;
}

.stickyTermsAndConditionsWrapper {
    composes: mb-5 from global;
}

.buttonWrapper {
    composes: pt-5 from global;
}

.buttonContainer button {
    @apply w-full;
}

.placeOrderBar {
    composes: hidden from global;
    composes: lg_block from global;
}

.placeOrderBarMobile {
    composes: sticky from global;
    composes: bottom-0 from global;
    composes: -mx-5 from global;
    composes: px-5 from global;
    composes: pb-5 from global;
    composes: bg-white from global;

    composes: lg_hidden from global;
}

.headingSection {
    composes: grid from global;
    composes: gap-2.5 from global;
}

.cartLink {
    composes: root from '~@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';
}

.emptyCartSection {
    composes: mb-5 from global;
}

.shippingAddressContent {
    composes: pb-5 from global;
}

.summaryContent {
    composes: lg_sticky from global;
    composes: lg_top-32.5 from global;
}

.formErrors {
    composes: grid from global;
    composes: border from global;
    composes: border-solid from global;
    composes: border-red-light from global;
    composes: pt-2.5 from global;
    composes: px-2.5 from global;
}

.selectDifferentMethod {
    composes: text-black-lightest from global;
    composes: hover_text-red from global;
    composes: focus_text-red-dark from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: gap-1 from global;
    composes: items-center from global;
}

/*
 * Desktop-specific styles.
 */
@media (min-width: 1024px) {
    .checkoutContent {
        grid-template-columns: minmax(min-content, 770px) 370px;
    }

    .summarySection {
        grid-column: 2 / span 1;
        grid-row: 2 / span 6;
    }
}

:global(#olark-wrapper #olark-container),
:global(#olark-wrapper .olark-launch-button-wrapper) {
    @apply hidden lg_block;
}
