.title {
    composes: items-center from global;
    composes: inline-flex from global;
    composes: text-xl from global;
    composes: font-bold from global;
    composes: text-black-lightest from global;
    composes: w-full from global;
}

.backTrigger,
.closeTrigger {
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
}

.closeTrigger {
    composes: p-5 from global;
}

.backTrigger {
    composes: pr-5 from global;
    composes: py-5 from global;
}

.closeTriggerIcon {
    composes: w-5 from global;
    composes: fill-black-lightest from global;
    composes: opacity-40 from global;
}

.backTriggerIcon {
    composes: text-red-light from global;
}

.title > span {
    @apply text-black-lightest;
}
