.root {
    composes: pb-5 from global;
}

.header {
    composes: flex from global;
    composes: items-center from global;
    composes: justify-between from global;
    composes: bg-white-dark from global;
    composes: rounded-t-sm from global;
    composes: px-5 from global;
    composes: py-4 from global;
}

.heading {
    composes: font-semibold from global;
}

.content {
    composes: border from global;
    composes: border-t-0 from global;
    composes: border-gray-light from global;
}

.actions {
    composes: flex from global;
}

.button {
    composes: text-blue from global;

    composes: first_pr-[2px] from global;
}

.button button {
    @apply h-9 w-9 min-h-0 min-w-0 border-none;
}
